* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f3f3f3;
}

/* BEGIN NAVBAR */

.image {
    height: 50px;
    width: 50px;
    object-fit: contain;
    border-radius: 100%; 
}

.nav {
    background-color: white;
    position: relative;
    height: 3.1rem;
    justify-content: space-evenly;
}

.logo {
    left: 20;
    position: absolute;
    height: 100%;
}

.nav-links {
    height: 100%;
    text-decoration: none;
    margin-right: 12rem;
}

.nav-info {
    position: absolute;
    right: 20;
    height: 100%;
}

.nav-info i {
    margin-right: 20px;
    font-size: 22px;
    color: #888;
    cursor: pointer;
}

.btn-link {
    height: 100%;
    color: #757D8A;
}

.btn-link .active {
    color: #AB7FBC;
}

.active {
    height: 100%;
    border-bottom: 2px solid #AB7FBC;
}

/* END NAVBAR */


.maincontainer {
    display: flex;
    margin-left: 2rem;
    margin-right: 4rem;
    margin-top: 2rem;
    gap: 20px;
}

.col-sm-4 {
    position: relative;
}

.col-sm-3 {
    position: relative;
}

.col-sm-5 {
    position: relative;
}

.filter-tab {
    background-color: white;
    height: 30rem;
    border-radius: 13px;
    margin-left: 10px;
    margin-right: 10px;
}

/* BEGIN USER TAB */

.user-tab {
    background-color: white;
    height: 15rem;
    border-radius: 13px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    text-align: center;
}

.user-tab h1 {
    font-size: 20px;
    margin-top: 10px;
}

.user-tab p {
    font-size: 13px;
}

.image2 {
    height: 80px;
    width: 80px;
    object-fit: contain;
    border-radius: 100%; 
    margin-top: 15px;
}

.btn-primary {
    background-color: #AB7FBC;
    border: none;
}

.btn-primary:hover {
    background-color: #976aa9;
}

/* END USER TAB */

/* BEGIN EXPERIENCE TAB */

.experience-tab {
    background-color: white;
    position: relative;
    border-radius: 13px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.experience-tab .experience-titel {
    font-size: 18px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.kaas {
    margin-left: 15px;
    margin-right: 15px;
    display: flex;
    margin-top: 10px;
}

.kaas h1 {
    font-size: 18px;
}

.kaas2 p {
    font-size: 13px;
}

.work-image {
    height: 50px;
    width: 50px;
    object-fit: contain;
    border-radius: 20%; 
    margin-right: 10px;
    margin-left: 10px;
}

/* END EXPERIENCE TAB */

/* BEGIN PROJECT TAB */

.project-tab {
    background-color: #AB7FBC;
    border-radius: 13px;
    margin-left: 10px;
    margin-right: 10px;
    position: relative;
}

.project-container h1 {
    font-size: 20px;
    margin-top: 15px;
    color: white;
}

.project-container h2 {
    font-size: 15px;
    margin-top: 15px;
    color: rgb(228, 223, 223);
}

.form-control {
    border-radius: 15px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.project-container {
    padding: 20px;
}

.search input[type="text"] {
    padding-left: 40px;
}

.search {
    position: relative;
}
   
.search i {
    position: absolute;
    left: 10px;
    top: 2px;
    padding: 9px 8px;
}