* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f3f3f3;
}

/* BEGIN NAVBAR */

.image {
    height: 50px;
    width: 50px;
    object-fit: contain;
    border-radius: 100%; 
}

.nav {
    background-color: white;
    position: relative;
    height: 3.1rem;
    justify-content: space-evenly;
    position: sticky;
    top: 0;
    z-index: 999;
}

.logo {
    left: 20;
    position: absolute;
    height: 100%;
}

.nav-links {
    height: 100%;
    text-decoration: none;
    margin-right: 12rem;
}

.nav-info {
    position: absolute;
    right: 20;
    height: 100%;
}

.nav-info i {
    margin-right: 20px;
    font-size: 22px;
    color: #888;
    cursor: pointer;
}

.btn-link {
    height: 100%;
    color: #757D8A;
}

.btn-link .active {
    color: #AB7FBC;
}

.active {
    height: 100%;
    border-bottom: 2px solid #AB7FBC;
}

/* END NAVBAR */


.maincontainer {
    display: flex;
    margin-left: 2rem;
    margin-right: 4rem;
    margin-top: 2rem;
    gap: 20px;
}

.col-sm-4 {
    position: relative;
}

.col-sm-3 {
    position: relative;
}

.col-sm-5 {
    position: relative;
}

.filter-tab {
    background-color: white;
    height: 30rem;
    border-radius: 13px;
    margin-left: 10px;
    margin-right: 10px;
    position: sticky;
    top: 80;
}

/* BEGIN USER TAB */

.user-tab {
    background-color: white;
    height: 15rem;
    border-radius: 13px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    text-align: center;
    position: sticky;
    top: 80;
}

.user-tab h1 {
    font-size: 20px;
    margin-top: 10px;
}

.user-tab p {
    font-size: 13px;
}

.image2 {
    height: 80px;
    width: 80px;
    object-fit: contain;
    border-radius: 100%; 
    margin-top: 15px;
}

.btn-primary {
    background-color: #AB7FBC;
    border: none;
}

.btn-primary:hover {
    background-color: #976aa9;
}

/* END USER TAB */

/* BEGIN PROJECT TAB */

.project-tab {
    background-color: #AB7FBC;
    border-radius: 13px;
    margin-left: 10px;
    margin-right: 10px;
    position: relative;
    margin-bottom: 20px;
    overflow-wrap: break-word;
}

.project-info {
    background-color: yellow;
    display: flex;
}

.image-post {
    height: 40px;
    width: 40px;
    object-fit: contain;
    border-radius: 30%; 
}

.project-container2 h1 {
    font-size: 20px;
    /* margin-top: 15px; */
}

.project-container2 h2 {
    font-size: 15px;
    margin-top: 15px;
}

.project-container h1 {
    font-size: 20px;
    margin-top: 15px;
    color: white;
}

.project-container h2 {
    font-size: 15px;
    margin-top: 15px;
    color: rgb(228, 223, 223);
}

.search .form-control {
    border-radius: 15px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.project-container2, .project-container {
    padding: 20px;
}

.search input[type="text"] {
    padding-left: 40px;
}

.search {
    position: relative;
}
   
.search i {
    position: absolute;
    left: 10px;
    top: 2px;
    padding: 9px 8px;
}

.logo_landing{
    height: 100%;
    margin-left: 50%;
}

.modal-backdrop {
    background-color: #A1A3A5;
}

.modal-content {
    border: none;
}


.date_posted {
    position: absolute;
    right: 10;
    bottom: 10;
    font-size: 13px;
}

/* BEGIN PROFILE TAB*/
.profile_container{

    height: 30%;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
 
    justify-content: center;
    margin-left: 70px;
    margin-right: 70px;
    margin-top: 15px;



}

.profile_image {
    width: 14%;
    object-fit: contain;
    border-radius: 100%; 
    justify-content: center;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;


}

.profile_text_big{
    position: absolute;
    left: 20%;
    top: 18%;
}

.profile_text_small{
    position: absolute;
    left: 20%;
    top: 26%;
}

#edit{
    position: absolute;
    left: 85%;
    top: 30%;
}

.about_container{
    position: absolute;

    width: 60%;
    height: 50%;

    margin-left: 70px;
    margin-top: 20px;
 
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    padding: 1%;
}

.skill_container_one{
    position: absolute;

    width: 30%;
    height: 50%;

    margin-left: 66%;
    margin-top: 20px;

    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    padding: 1%;


}

.skill_container_two{
    position: absolute;

    width: 30%;
    height: 50%;

    margin-left: 66%;
    margin-top: 26%;

    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;  
    padding: 1%;
}

.work_logo{
    width: 50px;
    height: 50px;


}

.work{
    margin-left: 70px;
}